[submodule "software/buildroot"]
	path = software/buildroot
	url = git@github.com:buildroot/buildroot.git
	branch = 2025.05.x
[submodule "dep/buildroot"]
	path = dep/buildroot
	url = git@github.com:buildroot/buildroot.git
	branch = 2025.05.x
